<div class='card-container'>
  <div class='card-body'>
    <%= form_with model: post do |f| %>
     <!--投稿フォーム-->
      <div class='form-group m-5'>
        <%= f.text_field :title, placeholder: 'タイトル' %></br>
      </div><!--form-group-->
      <div class='form-group m-5'>
        <%= f.number_field :learning_time, size: '25', placeholder: '学習時間' %></br>
      </div><!--form-group-->
      <div class='form-group m-5'>
        <%= f.text_area :learning_content, size: '30',placeholder: '学習時間'  %></br>
      </div><!--form-group-->
      
      <h4>タグ</h4>
  
      <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :tag_name, include_hidden: false) do |tag| %>
        <div class='form-check form-check-inline flex flex-wrap'>
          <%= tag.label do %>
            <%= tag.check_box %>
            <%= tag.text %>
          <% end %>
        </div>
      <% end %>
  
  
      <%= button_tag type: 'submit', class:'btn btn-info' do %>
        <i class='fa-solid fa-pen-to-square'></i>投稿する
      <% end %>
      
    <% end %>
  </div><!--card-body-->
</div><!--card-container-->