<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h2>ユーザー情報編集</h2>
        <% if @post.errors.any? %>
        <ul>
        <%= @post.errors.count %>errors
          <% @post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
        <% end %>
        <h2>投稿内容編集</h2>
        <%= form_with model: @post do |f| %>
          <div class="field">
            <%= f.label :title, "タイトル" %><br>
            <%= f.text_field :title, size: "25" %></br>
          </div>
          <div class="field">
            <%= f.label :learning_content, "学習内容" %><br>
            <%= f.text_area :body, size: "30" %></br>
          </div>
          <div class="actions">
            <%= f.submit '再投稿する' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
