<div class="text-success">
  <%= flash[:notice] %>
</div>
<div class="text-danger">
  <%= flash[:alret] %>　
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'sidebar', end_user: @end_user, post: @post %>
    </div>
    <div class="col-md-7 offset-md-1">
      <h4>投稿一覧</h4>
      <table class="table table-hover">
        <% @posts.each do |post| %>
          <tr>
            <td>
              <%= link_to end_user_path(@end_user.id) do %>
                <%= image_tag @end_user.get_profile_image(100,100) %>
              <%= post.title %>
              <% end %>
            </td>
            <td><%= post.learning_time.to_i %></td>
            <td>
              <%= link_to post_path(post.id) do %>
                <%= post.learning_content %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
    <%= render 'publics/ranks/rank', end_user: @end_user, post: @post %>
  </div>
</div>