<div class="text-success">
  <%= flash[:notice] %>
</div>
<div class="text-danger">
  <%= flash[:alret] %>　
</div>

<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-4">
      <%= render 'sidebar', end_user: @post.end_user, post: @post %>
    </div>
    <div class="col-md-6 offset-md-1">
      <h2>投稿内容詳細</h2>
      <table class="table table-hover">
        <tr>
          <td>
            <%= link_to end_user_path(@post.end_user) do %>
              <%= image_tag @post.end_user.get_profile_image(100,100) %>
              <%= @post.end_user.name %>
            <% end %>
          </td>
          <td><%= link_to @post.title, post_path(@post.end_user) %></td>
          <td><%= @post.learning_time %></td>
          <td><%= @post.learning_content %></td>
          <td>
            <% if @post.liked?(current_end_user) %>
              <%= link_to post_likes_path(@post.id), method: :delete do %>
                  <span style="color:red;">❤︎</span>
              <% end %>
            <% else %>
              <%= link_to post_likes_path(@post.id), method: :post do %>
                  <span>❤︎</span>
              <% end %>
            <% end %>
          </td>
          <td>
          <% if @post.end_user == @end_user %>
            <%= link_to "編集する", edit_post_path(@post.id), class: "btn btn-success" %>
            <%= link_to "削除する", post_path(@post.id), method: :delete, class: "btn btn-danger pull-right" %>
          <% end %>
          </td>
        </tr>
      </table>
      <% if end_user_signed_in? %>
        <%= form_with model: [@post, @comment], local: true do |f| %>
          <%= f.text_area :content, placeholder: "投稿にコメントする", rows: "2" %>
          <%= f.submit "送信する" %>
        <% end %>
      <% else %>
        <strong><p>コメントの投稿には新規登録またはログインが必要です。</p></strong>
      <% end %>
      <h4>コメント一覧</h4>
      <% @comments.each do |comment| %>
        <p><%= comment.end_user.name %></p>
        <p><%= comment.content %></p>
        <p>
          <% if end_user_signed_in? && current_end_user.id == comment.end_user_id %>
            <%= link_to "削除する", post_comment_path(comment.post.id, comment.id), method: :delete, class: "btn btn-danger pull-right" %>
          <% end %>
        </p>
      <% end %>
    </div>
  </div>
</div>