<div>
  <%= flash[:notice] %>
</div>
<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col">
      <h2>投稿内容詳細</h2>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>ユーザー情報</th>
            <th>タイトル</th>
            <th>学習時間</th>
            <th>学習内容</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= image_tag @post.end_user.get_profile_image(100,100) %></td>
            <td><%= @post.end_user.name %></td>
            <td><%= @post.learning_time %></td>
            <td><%= @post.learning_content %></td>
          </tr>
        </tbody>
      </table>
        <%= link_to "削除する", admins_post_path(@end_userpost.id), method: :delete, class: "btn btn-danger pull-right" %>
    </div>
  </div>
</div>
