<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h4>プロフィール編集</h4>

<!--ここにエラーメッセージを挿入する-->

        <%= form_with model: @end_user do |f| %>
          <div class="user-from">
            <%= f.label :プロフィール画像%></br>
            <%= f.file_field :profile_image %></br>

            <%= f.label :name, "ユーザー名" %></br>
            <%= f.text_field :name, size: "25" %></br>

            <%= f.label :introduce, "自己紹介文" %></br>
            <%= f.text_area :introduce, size: "40" %></br>
          </div>
          <div class="actions">
            <%= f.submit "変更内容を保存", class: "btn btn-info" %>
          </div>
          <div class="link">
            <%= link_to "退会する", confirm_end_user_path, class:'btn btn-danger' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
