<table>
  <tr>
    <th>ランク</th>
    <th>ユーザー名</th>
    <th>訪問数</th>
  </tr>
  <% @end_user_ranks.each.with_index(1) do |rank, i| %> 
  <% if i == 1 %> # iの値が1-3の時はランキング順位の横に王冠のアイコンを表示させる為、if文で条件分岐を記述。
  <tr>
    <td><%= image_tag("gold_icon.png") %><%= i %>位</td>
    <td><%= rank.name %></td>
    <td><%= rank.count %></td> 
  </tr>
  <% elsif i == 2 %>
  <tr>
    <td><%= image_tag("silver_icon.png") %><%= i %>位</td>
    <td><%= rank.name %></td>
    <td><%= rank.count %></td> 
  </tr>
  <% elsif i == 3 %>
  <tr>
    <td><%= image_tag("blonze_icon.png") %><%= i %>位</td>
    <td><%= rank.name %></td>
    <td><%= rank.count %></td> 
  </tr>
  <% else %> 
  <tr>
    <td><%= i %>位</td>
    <td><%= rank.name %></td>
    <td><%= rank.count %></td> 
  </tr>
  <% end %>
  <% end %>
</table>