<div class="container">
  <div class='row'>
    <%= render 'publics/posts/sidebar', locals: { end_user: @end_user, post: @post }%>
    <table class="table table-hover table-inverse">
      <% if @search_posts == [] %>
        <h5 class="mt-3 text-center">検索結果がありません。</h5>
      <% elsif @search_posts.present? %>
      <% search_word = @search.title_cont %>
    <h5 class="mt-3">検索結果 "<%= search_word %>"</h5>
      <thead>
        <tr>
          <th>タイトル</th>
          <th>学習時間</th>
          <th>学習内容</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% @search_posts.each do |f| %>
          <td><%= f.title %></td>
          <td><%#= link_to end_user_path(f.end_user_id) %><%= f.learning_time %></td>
          <td><%= f.learning_content %></td>
        </tr>
        <% end %>
      </tbody>
      <% else %>
        <h5 class="mt-3 text-center">検索結果がありません。</h5>
      <% end %>
    </table>
  </div>
</div>