<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <!--文字化け対策-->
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!--表示領域の設定-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!--Bootstrap CSS-->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/ced6f72b76.js" crossorigin="anonymous"></script>
    <!--fontawesomeの適用-->
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <title>LearningCommunity</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <!--ナビゲーションバー-->
      <div class="container">
        <!--ナビゲーションバーを作成してから枠で囲む-->
        <a class="navbar-brand" href="/">Title</a>
        <!--タイトルのリンク-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <!--ハンバーガーメニュー部分-->
            <%= render "layouts/navbar" %>
            <!--リンク先の部分テンプレート-->
          </ul>
        </div>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
